
.error {
  color: red;
}
.maxValue {
  font-size: 65px;
  margin-top: -10px;
  color: red;
  transition: 0.3s;
}
.value {
  font-size: 40px;
  transition: 0.3s;
}
.test {
  background-color: lightcoral;
}
.counter {
  font-size: 40px;
}

.switch {
  padding-top: 8px;
}