
.error {
  color: red;
}
.maxValue {
  font-size: 65px;
  margin-top: -10px;
  color: red;
  transition: 0.3s;
}
.value {
  font-size: 40px;
  transition: 0.3s;
}
.test {
  background-color: lightcoral;
}
.counter {
  padding: 10px;
  font-size: 40px;
  text-align: center;
}